services:
  samba:
    image: dperson/samba
    restart: unless-stopped
    volumes:
      - ${FOLDER_FOR_MEDIA}:/mount
    environment:
      - USERID=1000
      - GROUPID=1000
      # USER and PASSWORD set on the host there https://blog.kye.dev/proxmox-zfs-mounts
      - USER=${SMB_USER};${SMB_PASSWORD}
    ports:
      - "139:139"
      - "445:445"
    command: [ "-s", "media;/mount;yes;no;no;all;none", "-p" ]
    labels:
      - "homepage.group=Media"
      - "homepage.name=Samba"
      - "homepage.icon=mdi-folder"
      - "homepage.href=smb://${HOMELAB_IP}/media"
      - "homepage.description=Samba file share"

  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    environment:
      PUID: ${PUID}
      PGID: ${DOCKER_PGID}
    ports:
      - ${HOMEPAGE_PORT}:3000
    volumes:
      - ./homepage/config:/app/config # Make sure your local config directory exists
      - /var/run/docker.sock:/var/run/docker.sock:ro # optional, for docker integrations
      - /mnt/media:/mnt/media:ro # optional, for ressource widget
    networks:
      - web
      - default
    restart: unless-stopped
    labels:
      - "homepage.group=Infra"
      - "homepage.name=Homepage"
      - "homepage.icon=mdi-home"
      - "homepage.href=http://homepage.lan"
      - "homepage.description=Main homelab dashboard"
      - "traefik.docker.network=web"
      - "traefik.http.routers.homepage-lan.rule=Host(`homepage.lan`)"
      - "traefik.http.routers.homepage-lan.entrypoints=web"
      - "traefik.http.services.homepage-lan.loadbalancer.server.port=3000"

  upsnap:
    image: ghcr.io/seriousm4x/upsnap:latest
    container_name: upsnap
    restart: unless-stopped
    environment:
      TZ: "Europe/Zurich"
      PUID: ${PUID}
      PGID: ${DOCKER_PGID}
    volumes:
      - ./upsnap/data:/app/pb_data
    ports:
      - "${UPSNAP_PORT:-8090}:8090"
    entrypoint: /bin/sh -c "apk update && apk add --no-cache nmap && rm -rf /var/cache/apk/* && ./upsnap serve --http 0.0.0.0:8090"
    healthcheck:
      test: curl -fs "http://localhost:8090/api/health" || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
    labels:
      - "homepage.group=Infra"
      - "homepage.name=UpSnap"
      - "homepage.icon=mdi-network"
      - "homepage.href=http://${HOMELAB_IP}:${UPSNAP_PORT:-8090}"
      - "homepage.description=Wake on line any device"
